<!DOCTYPE html>
<html lang="en">
<head>
     
    <link type="text/css" rel="stylesheet" href="../style.css" >
    <title>Document</title>
</head>
<body>
    {{>header}}
    <h1>{{name}}</h1>  
    <form>
        <input>
        <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    {{>footer}}
    <script src="../java.js"></script>
</body>
</html> 